

#div-gif{
    
    display: flex;
  background-color: black;
    align-items: baseline;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25%;
    margin-top:10%;
}
#h1{
    color: white;
    font-size:100px;
}
#body{
    background-color: black;
}
