
div > p{
    color: white;
    padding-bottom: 50px;
    padding-left: 12%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    color: white;
    padding-left: 9%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    
    justify-content: center;
   
    
}
#perguntasdiv{
justify-content: center;
border:3px solid white;
}

#img{
    position: absolute;
    top: 35%;
    left: 75%;
    opacity: 0.4;

}
*{
    padding: 0px;
    margin: 0px;
   
}
summary {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color: white;
}
details{
    color: white;
    display: flex;
    padding-bottom: 3%;
}
#perguntas{
    padding-bottom: 200px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}
#perguntas-filha{
    width: 90%;
    
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}